/* Page */


.notfound h2 {
    font-family: Comic Sans MS;
    font-size: 140px;
    padding: 0 0 1.7rem;
    margin: 0;
    line-height: 1;
    font-weight: bold;
}

.notfound h3 {
    font-size: 40px;
    padding: 0 0 0.6rem;
    margin: 0;
}

.notfound p {
    padding: 1rem 0 1.4rem;
    margin-bottom: 0;
}

.sitemap-wrapper {
    margin-bottom: 2rem;
    position: relative;
    border: 1px dashed #dadada;
    padding: 2rem;
}

.sitemap-wrapper .year {
    position: absolute;
    padding: 0 1rem;
    background-color: #ffffff;
    top: -12px;
}

.sitemap-text {
    margin: 1rem 0;
    font-weight: 500;
}

.sitemap-wrapper small {
    display: block;
    font-size: 11px;
    padding: 0;
    margin: 0 0 0.5rem;
    line-height: 1;
    text-transform: uppercase;
}

.breadcrumb {
    background-color: transparent;
    border-radius: 0;
    list-style: outside none none;
    margin-bottom: 0;
    text-align: right;
    padding: 0;
}

.breadcrumb-item {
    float: none;
    font-size: 12px;
    display: inline-block;
}

.page-link {
    background-color: #edeff2 !important;
    border: 0 dashed #e2e2e2;
    border-radius: 0;
    color: #a3a5a8 !important;
    display: block;
    font-size: 14px;
    line-height: 1;
    margin-left: 6px;
    padding: 0.8rem 0.8rem;
    position: relative;
    text-transform: capitalize;
}

.page-link:hover,
.page-link:focus {
    color: #111 !important;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-radius: 0;
}

.page-item:last-child .page-link {
    border-radius: 0;
}

.page-title {
    padding: 3rem 0;
    background-color: #edeff2;
}

.page-title small {
    color: #a3a5a8;
    display: inline-block;
    font-size: 13px;
    font-style: italic;
    letter-spacing: 1px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: -1px;
    padding-bottom: 0;
    padding-left: 0.5rem;
    vertical-align: middle;
}

.page-title i {
    border-radius: 40px;
    display: inline-block;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin-right: 0.3rem;
    margin-top: -0.4rem;
    text-align: center;
    vertical-align: middle;
    width: 40px;
}

.page-title h2 {
    font-size: 24px;
    line-height: 1;
    padding: 0;
    margin: 0;
}

/* End Page */

.section {
    padding: 4rem 0;
    display: block;
    position: relative;
    background-color: #ffffff;
}

.section.lb {
    background-color: #edeff2;
}

.section.lb .single-post-media {
    margin-bottom: 0;
}

.embed-responsive-item {
    padding: 0.4rem !important;
    display: block;
    background-color: #fff;
}

.first-section {
    padding: 0;
    border-bottom: 0;
}

.first-section .container-fluid {
    padding: 0 3px;
}

.section-title h3 {
    display: block;
    margin: 0 0 1.5rem;
    padding: 0;
    line-height: 1;
}

.section-title h3 a {
    border-radius: 3px;
    color: #fff !important;
    font-size: 16px;
    line-height: 1;
    padding: 0.1rem 1.3rem;
}

.lightbg {
    background-color: #f8e1f8;
}

.nopad {
    padding: 0 !important;
    margin: 0 !important;
}

.nopad img {
    width: 100%;
}

.item-h2,
.item-h1 {
    height: 100% !important;
    height: auto !important;
}

.pitem {
    padding: 1rem !important;
}

.pitem img {
    width: 100%;
}

.isotope-item {
    z-index: 2;
    padding: 0;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.isotope,
.isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}

.portfolio .blog-meta span {
    border-radius: 3px;
}

.portfolio .blog-meta small::after,
.portfolio .blog-meta small a {
    color: #a3a5a8 !important;
    letter-spacing: 0.1rem;
}

.portfolio .blog-meta span a {
    color: #fff !important;
    line-height: 1;
    padding: 0.2rem 1rem;
    font-size: 12px;
    margin: 1rem 0 0;
    display: inline-block;
}

.portfolio .blog-meta h4 {
    margin: 0;
    font-size: 20px;
    padding: 0.4rem 0 0.2rem;
}

.center-side,
.left-side,
.right-side {
    float: left;
    width: 33.33333%;
}

.post-media img,
.masonry-box img {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.post-media:hover img,
.masonry-box:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.masonry-box img,
.masonry-box {
    width: 100%;
}

.masonry-box {
    border: 0.34rem solid #fff;
}

.small-box {
    width: 50%;
    float: left;
}

.masonry-box .blog-meta h4 {
    padding: 0.2rem 0;
}

.masonry-box .blog-meta span {
    background-color: #111111;
    border-radius: 3px;
    font-size: 12px;
    padding: 0.1rem 1rem;
}
